<div class="row">
  <div class="span4 well">
    <em><%= comment.body %></em>
    <p>
      <span class="quiet">posted by <%= comment.creator.username %></span>
      <small>at <%= comment.created_at %></small>
    </p>
  </div>
</div>