<p class="pull-right">
  [<%= link_to "edit_post", edit_post_path(@post) %>]
</p>

<%= render @post.categories %>
<%= render "shared/content_title", title: @post.title %>
<%= @post.description %>
<hr>